.card-grid-reviews,
.card-grid-reviews * {
  box-sizing: border-box;

}

.card-grid-reviews {
  border-radius: 40px;
  /* border-style: solid; */
  border-color: #ffffff;
  border-width: 1px;
  /* padding: 64px; */
  display: flex;
  flex-direction: column;
  gap: 48px ;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.card-grid-reviews .card-grid {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-1200, 48px);
  row-gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  color: white;
}
.card-grid-reviews .review-card {
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-600, 24px);
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 240px;
  position: relative;
  color: white;
  box-sizing: border-box;
}
.card-grid-reviews .review-body {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-100, 4px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.card-grid-reviews .text-heading-instance {
  flex-shrink: 0 !important;
  width: 305px !important;
  color: white;
}
.card-grid-reviews .text-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.card-grid-reviews .avatar-group-instance {
  flex-shrink: 0 !important;
}
.card-grid-reviews .text-heading-instance2 {
  flex-shrink: 0 !important;
  width: 304px !important;
  color: white;
}

.avatar-group {
  display: flex;
  gap: 10px; 
}

.avatar-group img {
  width: 40px; 
  height: 40px;
  object-fit: cover; 
  border-radius: 50%;
}