.card-grid-reviews,
.card-grid-reviews * {
  box-sizing: border-box;
}
.card-grid-reviews {
  border-radius: 40px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 48px ;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.card-grid-reviews .card-grid {
  display: flex;
  flex-direction: row;
  gap: var(--var-sds-size-space-1200, 48px);
  row-gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.card-grid-reviews .review-card {
  border-radius: var(--var-sds-size-radius-200, 8px);
  border-style: solid;
  border-color: var(--var-sds-color-border-default-default, #d9d9d9);
  border-width: 1px;
  padding: var(--var-sds-size-space-600, 24px);
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-600, 24px);
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 240px;
  position: relative;
}
.card-grid-reviews .review-body {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-100, 4px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.card-grid-reviews .text-heading-instance {
  flex-shrink: 0 !important;
  width: 305px !important;
}
.card-grid-reviews .text-instance {
  align-self: stretch !important;
  flex-shrink: 0 !important;
}
.card-grid-reviews .avatar-group-instance {
  flex-shrink: 0 !important;
}
.card-grid-reviews .text-heading-instance2 {
  flex-shrink: 0 !important;
  width: 304px !important;
}

/* nested override styles */
.card-grid-reviews .avatar-group-instance2 {
  width: 18.1% !important;
  height: 100% !important;
  position: absolute !important;
  right: 20.81% !important;
  left: 61.09% !important;
  bottom: 0% !important;
  top: 0% !important;
}
.card-grid-reviews .avatar-group-instance3 {
  width: 18.1% !important;
  height: 100% !important;
  position: absolute !important;
  right: 41.18% !important;
  left: 40.72% !important;
  bottom: 0% !important;
  top: 0% !important;
}
.card-grid-reviews .avatar-group-instance4 {
  width: 18.1% !important;
  height: 100% !important;
  position: absolute !important;
  right: 61.54% !important;
  left: 20.36% !important;
  bottom: 0% !important;
  top: 0% !important;
}
.card-grid-reviews .avatar-group-instance5 {
  width: 18.1% !important;
  height: 100% !important;
  position: absolute !important;
  right: 81.9% !important;
  left: 0% !important;
  bottom: 0% !important;
  top: 0% !important;
}
