
@font-face {
  font-family: 'Hero New Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Regular'), url('/fonts/Hero New Bold Italic.woff') format('woff');
  }

  

  @font-face {
  font-family: 'Hero New Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Regular Italic'), url('/fonts/Hero New Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Hairline';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Hairline'), url('/fonts/Hero New Hairline.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Hairline Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Hairline Italic'), url('/fonts/Hero New Hairline Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Thin';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Thin'), url('/fonts/Hero New Thin.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Thin Italic'), url('/fonts/Hero New Thin Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New UltraLight'), url('/fonts/Hero New UltraLight.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New UltraLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New UltraLight Italic'), url('/fonts/Hero New UltraLight Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Light';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Light'), url('/fonts/Hero New Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Light Italic'), url('/fonts/Hero New Light Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Medium'), url('/fonts/Hero New Medium.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Medium Italic'), url('/fonts/Hero New Medium Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New SemiBold'), url('/fonts/Hero New SemiBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New SemiBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New SemiBold Italic'), url('/fonts/Hero New SemiBold Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Bold'), url('/fonts/Hero New Bold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Bold Italic'), url('/fonts/Hero New Bold Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New ExtraBold'), url('/fonts/Hero New ExtraBold.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New ExtraBold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New ExtraBold Italic'), url('/fonts/Hero New ExtraBold Italic.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Super';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Super'), url('/fonts/Hero New Super.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Hero New Super Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Hero New Super Italic'), url('/fonts/Hero New Super Italic.woff') format('woff');
  }

/* html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */

body {
  scroll-snap-type: y mandatory;
}

.scroll-container {
  display: flex;
  flex-direction: column;
}

.full-page-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

.first-section {
  background: linear-gradient(0deg, #666 0%, #000 46%);
}

 .second-section {
  background-color: #add8e6;
}

.third-section {
  background-color: #98fb98;
} 


.first-section .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.first-section .title {
  font-family: 'Hero', sans-serif;
  font-size: 72;
  font-weight: 700; 
  line-height: 86.4px;
  letter-spacing: -0.03em;
  margin: 0;
  color: var(--Text-Neutral-On-Neutral, #F3F3F3);
}

.first-section .subtitle {
  font-family: 'Hero', sans-serif; 
  margin-top: 20px;
  font-size: 32;
  font-weight: 400; 
  color: #666666;
}



.first-section .button-container {
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.first-section .button {
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 72;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.40);
  color: linear-gradient(180deg, #000 0%, #666 100%);
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: white
}

.second-section .button-back-container{
  position: absolute;
  border-radius: 40px;
  top: 10%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.second-section .button-back {
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 72;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.40);
  color: linear-gradient(180deg, #000 0%, #666 100%);
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: white
}

.second-section .button-next-container{
  position: absolute;
  border-radius: 40px;
  bottom: 5%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.second-section .button-next {
  border-radius: 40px;
  padding: 10px 20px;
  font-size: 72;
  border: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.40);
  color: linear-gradient(180deg, #000 0%, #666 100%);
  /* background-clip: text; */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  color: white
}

/* 
.tabs,
.second-section .tabs * {
  box-sizing: border-box;
}
.second-section .tabs {
  border-radius: 50px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 78px;
  position: relative;
  overflow: hidden;
}
.second-section .tab {
  background: var(--var-sds-color-background-default-default-hover, #f5f5f5);
  border-radius: var(--var-sds-size-radius-100, 4px)
    var(--var-sds-size-radius-100, 4px) 0px 0px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 0px 0px 1px 0px;
  padding: var(--var-sds-size-space-100, 4px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-100, 4px)
    var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.second-section .label {
  color: var(--var-sds-color-text-neutral-default, #303030);
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
}
.second-section .tab2 {
  border-radius: var(--var-sds-size-radius-100, 4px)
    var(--var-sds-size-radius-100, 4px) 0px 0px;
  border-style: solid;
  border-color: var(--var-sds-color-border-neutral-tertiary, #b2b2b2);
  border-width: 0px 0px 1px 0px;
  padding: var(--var-sds-size-space-100, 4px)
    var(--var-sds-size-space-300, 12px) var(--var-sds-size-space-100, 4px)
    var(--var-sds-size-space-300, 12px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.second-section .label2 {
  color: #ffffff;
  text-align: left;
  font-family: var(--heading-font-family, "Inter-SemiBold", sans-serif);
  font-size: var(--heading-font-size, 24px);
  line-height: var(--heading-line-height, 120%);
  letter-spacing: var(--heading-letter-spacing, -0.02em);
  font-weight: var(--heading-font-weight, 600);
  position: relative;
} */
